POSTGRES_USER=nestjs_user
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=nestjs_db

#DATABASE_URL=mysql://root:Supersecret@123@localhost:3306/scada_db
DATABASE_URL="postgresql://postgres:supersecret@123@localhost:5432/scada_db"


JWT_SECRET=emberpecah2025
PORT=3500
RTU_API_KEY=sangatrahasia9999
