# ───────────────────────────────────────────────
# Postgres container credentials (for the db service)
POSTGRES_USER=nestjs_user
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=nestjs_db

# Prisma / NestJS will use this URL to connect
DATABASE_URL=postgresql://nestjs_user:supersecret@db:5432/nestjs_db

# your application secrets
JWT_SECRET=emberpecah2025
PORT=3500
RTU_API_KEY=sangatrahasia9999
# ───────────────────────────────────────────────
